sudo: required
dist: trusty
language: python
python:
  - "2.7"
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION openblas numpy scipy cython pandas sympy pytables netcdf4 python-dateutil pytz pyproj sh
  - source activate test-environment

  # Library dependencies
  - sudo apt-get install -qq gfortran libfftw3-dev libnfft3-dev

  # pyglow
  - git clone git://github.com/timduly4/pyglow.git
  - cd pyglow
  - ./pyglow_install.sh
  - cd ..

  # GPSTk
  - git clone https://github.com/SGL-UT/GPSTk.git
  - cd GPSTk
  - ./build.sh -b build -e -x
  - export GPSTK_SRC=$(pwd)
  - export GPSTK_BUILD=$(pwd)/build
  - cd ..
script:
  - python setup.py install
